html
    head
        style.
            body {
              max-width: 1024px;
              margin: auto;
              padding-left: 30px;
            }
            a { text-decoration: none; }
            li { list-style: none; }
            .backbutton {
                height: 32px;
                padding-top: 10px;
            }


    body
        a(href='/'): img(src='/backbutton.jpg' class='backbutton' style="margin-bottom: 30px;")
        a(href='/review_feedback') Review Feedback
        ul(class="members-list")
            -each name in members
                li: a(href='/members/'+name)= name
